################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VEGraphices/v15
/Debug
*.user
/QE_lib/Debug
/ThridParty
